<div class="panel panel-default">
  <div class="panel-heading">{{title}}</div>
  <table class="table">
    <tr>
      <td><strong>#</strong></td>
      <td><strong>Nazwa</strong></td>
      <td><strong>Kategoria</strong></td>
      <td><strong>Awaria</strong></td>
      <td><strong>Parametry</strong></td>
      <td><strong>Komentarze</strong></td>
    </tr>
    <tr *ngFor="let device of devices">
      <td><strong>{{device.id}}</strong></td>
      <td>{{device.name}}</td>
      <td>{{device.category.name}}</td>
      <td *ngIf="device.damaged">
        <button (click)="removeFailure(device)" class="btn btn-danger btn-sm" type="button">Usuń</button>
      </td>
      <td *ngIf="!device.damaged">
        <button (click)="reportFailure(device)" class="btn btn-success btn-sm" type="button">Zgłoś</button>
      </td>
      <td>
        <button (click)="showParameters(device)" class="btn btn-primary btn-sm" type="button">
          Pokaż <span class="badge">{{device.parameters.length}}</span>
        </button>
      </td>
      <td>
        <button (click)="showComments(device)" class="btn btn-primary btn-sm" type="button">
          Pokaż <span class="badge">{{device.comments.length}}</span>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan=100% class="text-center">
        <button (click)="showNewDeviceForm()" class="btn btn-success">Dodaj</button>
      </td>
    </tr>
  </table>
</div>
<app-comment-list *ngIf="isCommentsVisible" [device]="chosenDevice"></app-comment-list>
<app-parameter-list *ngIf="isParametersVisible" [device]="chosenDevice">></app-parameter-list>
<app-new-device-form *ngIf="isNewDeviceFormVisible" [devices]="devices"></app-new-device-form>
