<div class="container">
  <h1>Nowe urządzenie</h1>
  <form (ngSubmit)="onSubmit(); "
        #newDeviceForm="ngForm">

    <div class="form-group">
      <label for="name">Nazwa</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="newDevice.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Nazwa jest wymagana
      </div>
    </div>

    <div class="form-group">
      <label for="category">Kategoria</label>
      <select class="form-control" id="category"
             required
             [(ngModel)]="newDevice.category" name="category"
             #category="ngModel">
        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
      </select>
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Kategoria jest wymagana
      </div>
    </div>

    <div class="form-group">
      <label for="parameters">
        Parametry
        <button (click)="addNewParameter()" type="button" class="btn btn-default">+</button>
      </label>
      <div id="parameters" class="container">
        <div class="form-inline" *ngFor="let parameter of newDevice.parameters; let i = index">
          <input type="text" class="form-control" placeholder="Nazwa"
                 [(ngModel)]="parameter.key" name="key{{i}}">
          <input type="text" class="form-control" placeholder="Wartość"
                 [(ngModel)]="parameter.value" name="value{{i}}">
          <button (click)="removeParameter(parameter)" type="button" class="btn btn-danger">-</button>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!newDeviceForm.form.valid">Dodaj</button>
  </form>
</div>
