<h4>Komentarze do urządzenia: {{device.name}}</h4>
<app-comment-box [device]="device"></app-comment-box>
<div class="panel panel-default" *ngFor="let comment of device.comments">
  <div class="panel-heading">
    <strong>{{comment.author}}</strong> <span class="text-muted">commented {{comment.date | date:'medium'}}</span>
  </div>
  <div class="panel-body">{{comment.body}}</div>
</div>
