<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">{{title}}</a>
    </div>
  </div>
</nav>
<div class="container">
  <app-device-list></app-device-list>
</div>
