<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Parametry urządzenia: {{device.name}}</h4>
  </div>
  <table class="table">
    <tr *ngFor="let parameter of device.parameters">
      <td>{{parameter.key}}</td>
      <td>{{parameter.value}}</td>
    </tr>
  </table>
</div>
