<div class="form-group">
  <label class="sr-only" for="author">Autor:</label>
  <input class="form-control" [(ngModel)]="commentAuthor" id="author" placeholder="Autor">
  <textarea class="form-control" [(ngModel)]="commentBody" placeholder="Co sądzisz o tym urządzeniu?">{{commentBody}}</textarea>
  <button type="submit" (click)="sendComment()" class="btn btn-success green">Wyślij</button>
  <div style="clear: both;"></div>
  <div *ngIf="isSuccessInfoVisible" class="alert alert-success">Komentarz został dodany</div>
</div>
